.DS_Store
*.mov
*.pdf
saveweb2zip-com-directionless-webflow-io/
v-a.html
v-b.html
v-c.html
v-d.html
v-e.html
1f9b62c8-91ff-4a32-8db5-e306dc10f969.jpeg
360_F_599720625_N2U8AQzhS5y7llrp2AMAQmKL4B6nWHKT.jpg
STG_boost.jpg
V1_page1.jpg
V1_page1_green.jpg
bechtel.jpg
download.jpeg
.claude/
